<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.and.netease"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity" >
          
        </activity>
        <activity android:name="TabNewsActivity" >
        </activity>
        <activity android:name="hot_main" >
        </activity>
        <activity android:name="TabzuijinxinwenActivity" >
        </activity>
        <activity android:name="hot_place" >
        </activity>
        <activity android:name="hot_division" >
        </activity>
        <activity android:name="hot_people" >
        </activity>
        <activity android:name="TabSearchActivity" >
        </activity>
        <activity android:name="TabHotActivity" >
        </activity>
        <activity android:name="TabLoginActivity" >
        </activity>
        <activity android:name="zhuanti" >
        </activity>
        <activity android:name="jutixinwen" >
        </activity>
        <activity android:name="search" >
        </activity>
        <activity android:name="advanced_search" >
        </activity>
        <activity android:name="dingzhi" >
        </activity>
        <activity android:name="simplerWriter" >
        </activity>
        <activity android:name="ViewHolder" >
        </activity>
        <activity android:name="Dingzhi_zhuanti"></activity>
    </application>

</manifest>