<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.blcu.newsfeed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.and.netease.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="cn.edu.blcu.newsfeed.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.tabactivity.MainActivity"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity android:name="cn.edu.blcu.newsfeed.hot.hot_main" >
        </activity>
        <activity android:name="cn.edu.blcu.newsfeed.tabactivity.TabzuijinxinwenActivity" >
        </activity>
        <activity android:name="cn.edu.blcu.newsfeed.tabactivity.TabSearchActivity" >
        </activity>
        <activity android:name="cn.edu.blcu.newsfeed.tabactivity.TabLoginActivity" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.zuijinxinwen.zhuanti"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.activity.jutixinwen"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.search.search"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.search.advanced_search"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.dingzhi.dingzhi"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.dingzhi.Dingzhi_zhuanti"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>
        <activity
            android:name="cn.edu.blcu.newsfeed.dingzhi.dingzhi_xinwen"
            android:logo="@drawable/biaotizi2"
            android:theme="@style/CustomActivityTheme" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAY98GsObJ88hiEXVUnDj7zjnWXoCBM794" />
    </application>

</manifest>